<footer>    
    <div class="container-fluid">
        <p>
            © 2022 Grupo11
        </p>
        <ul class="redes-sociales">
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitch"></i></a></li>
            <li><a href="https://dashhayequipo.onrender.com"><i class="fa-solid fa-chart-line"></i></a></li>
        </ul>
    </div>
</footer>
