<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="bodyEq">
    <header> 
        <div class="container-fluid">
            <div>
                <a href="/"><img class="logo"src="/img/logo.png" alt="logo"></a>
            </div>
            <%- include('../partials/navbar') %>
        </div>    
    </header>
    <section>
        <div class="banner-carrito">
            <h3>
                TU TURNO SOLICITADO
            </h3>
            <a href="canchas" class="boton-volver-reservas">Volver a la reserva</a>
        </div>
    </section>
    
    <section class="carrito-compras">       
            <div class="container">
              <div class="row">
                    <div class="col-9">Reserva</div>
                    <div class="col-1">Precio</div>
              </div>                
            </div>
    </section>
    <section>
        <div class="container">
            <div class="row" id="cuerpo-carrito">
                <div class="col-9">
                        <img src="/img/cancha-techada.jpg" class="imagen-carrito" alt="imagen de cancha">
                        <div class="reserva-fecha">
                            <p id="p-mobile"> CANCHA 1 <br> 18/6/22 <br> 19:00 Hs </p>
                            <p id="p-web"> CANCHA 1 - 18/6/22 - 19:00 Hs </p>
                            <a href="" class="eliminar-produto">Eliminar</a>
                        </div> 
                </div>
                <div class="col-1">
                    <p>$$$$$</p>
                </div>
            </div>
        </div>
    </section>
    <section class="btn-confirmar">
        <button type="submit" class="btn btn-primary">CONFIRMAR</button>
        <div id="emailHelp" class="form-text">Al confirmar podra ir al metodo de pago</div>
    </section>
    <%- include('../partials/footer') %> 
    
</body>
</html>