<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body id="argentina" class="bodyEq">
    <h1 class="texto-final">1ero: FIN DE LA CURSADA</h1>
    <h1 class="texto-final">2do: FRANCIA</h1>
    <section class="btn-confirmar">
        <a href="/"><button class="texto-final btn btn-primary">VOLVER AL INICIO</button></a>
    </section>
</body>
</html>